.add-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    min-width: 20vw;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-textarea {
      border: 1px solid rgb(7, 102, 236);
      background-color: transparent;
      font-size: 1.5rem;
      height: 100px;
      outline: none;
      padding: 10px;
    }
  }
}
